@media only screen and (min-width: 320px) {

  /* For Small Mobile: */
  body {
    font-family: sans-serif;
    background-color: #fff;
    font-weight: bold;
  }

  .contactDetails{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .rightSection{
    margin-top: 30px;
    width: 89%;
  }

  .contactDetails .leftSection{
    padding: 8px;
    width: 97%;
  }

  .text-box {
    margin-left: 50px;
    margin-top: 45px;
  }

  .titleImg {
    width: 320px;
  }

  .btn:link,
  .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    border-radius: 100px;
    transition: all 0.2s;
    position: relative;
    width: 270px;
    height: 45px;
    text-align: center;
    margin: auto;
  }

  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .btn-white {
    background-color: #81d4fa;
    color: #fff;
  }

  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s;
  }

  .btn-white::after {
    background-color: #81d4fa;
  }

  .btn:hover::after {
    /* transform: scaleX(1.4) scaleY(1.6); */
    opacity: 0;
  }

  .btn:focus::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  .btn-animated {
    -webkit-animation: moveInBottom 5s ease-out;
    animation: moveInBottom 5s ease-out;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
  }

  @-webkit-keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .servicesDiv {
    display: flex;
    flex-direction: row;
    overflow-wrap: break-word;
    flex-wrap: wrap;
  }

  .mainPath {
    padding: 3px 0;

    
  }

  @media only screen and (max-width: 374px){
    .mainPath{
      width: 320px;
    }
    .subPath{
      width: 97%;
    }
    footer{
      width: 95%;
    }
  }

  .subPath {
    background: #81d4fa;
    text-align: start;
    padding-left: 20px;
    line-height: 35px;
    color: #fff;
    border-radius: 7px;

  }

  .subPath a {
    color: #fff;
    text-decoration: none;
  }

}

@media only screen and (min-width: 375px) {

  /* For Mobile: */
  body {
    font-family: sans-serif;
    background-color: #fff;
    font-weight: bold;
  }

  .contactDetails{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .rightSection{
    margin-top: 30px;
    width: 89%;
  }

  .contactDetails .leftSection{
    padding: 20px;
    width: 88%;
  }

  .text-box {
    margin-left: 50px;
    margin-top: 45px;
  }

  .titleImg {
    width: 320px;
  }

  .btn:link,
  .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    border-radius: 100px;
    transition: all 0.2s;
    position: relative;
    width: 270px;
    height: 45px;
    text-align: center;
    margin: auto;
  }

  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .btn-white {
    background-color: #81d4fa;
    color: #fff;
  }

  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s;
  }

  .btn-white::after {
    background-color: #81d4fa;
  }

  .btn:hover::after {
    /* transform: scaleX(1.4) scaleY(1.6); */
    opacity: 0;
  }

  .btn:focus::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  .btn-animated {
    -webkit-animation: moveInBottom 5s ease-out;
    animation: moveInBottom 5s ease-out;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
  }

  @-webkit-keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .servicesDiv {
    display: flex;
    flex-direction: row;
    overflow-wrap: break-word;
    flex-wrap: wrap;
  }

  .mainPath {
    padding: 3px;
  }

  .subPath {
    background: #81d4fa;
    text-align: start;
    padding-left: 20px;
    line-height: 35px;
    color: #fff;
    border-radius: 7px;
  }

  .subPath a {
    color: #fff;
    text-decoration: none;
  }

}

@media only screen and (min-width: 425px) {

  /* For Mobile: */
  body {
    font-family: sans-serif;
    background-color: #fff;
    font-weight: bold;
  }

  .contactDetails{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .rightSection{
    margin-top: 30px;
    width: 89%;
  }

  .contactDetails .leftSection{
    padding: 30px;
    width: 81%;
  }

  .text-box {
    margin-left: 50px;
    margin-top: 45px;
  }

  .titleImg {
    width: 320px;
  }

  .btn:link,
  .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    border-radius: 100px;
    transition: all 0.2s;
    position: relative;
    width: 270px;
    height: 45px;
    text-align: center;
    margin: auto;
  }

  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .btn-white {
    background-color: #81d4fa;
    color: #fff;
  }

  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s;
  }

  .btn-white::after {
    background-color: #81d4fa;
  }

  .btn:hover::after {
    /* transform: scaleX(1.4) scaleY(1.6); */
    opacity: 0;
  }

  .btn:focus::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  .btn-animated {
    -webkit-animation: moveInBottom 5s ease-out;
    animation: moveInBottom 5s ease-out;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
  }

  @-webkit-keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .servicesDiv {
    display: flex;
    flex-direction: row;
    overflow-wrap: break-word;
    flex-wrap: wrap;
  }

  .mainPath {
    padding: 20px;
  }

  .subPath {
    background: #81d4fa;
    text-align: start;
    padding-left: 20px;
    line-height: 35px;
    color: #fff;
    border-radius: 7px;
  }

  .subPath a {
    color: #fff;
    text-decoration: none;
  }

}

@media only screen and (min-width: 530px) {

  /* For lg-Tablets: */
  body {
    font-family: sans-serif;
    background-color: #fff;
    font-weight: bold;
  }

  .contactDetails{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .rightSection{
    margin-top: 30px;
    width: 91%;
  }

  .contactDetails .leftSection{
    padding: 35px;
    width: 84%;
  }

  .text-box {
    margin-left: 50px;
    margin-top: 45px;
  }

  .titleImg {
    width: 320px;
  }

  .btn:link,
  .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    border-radius: 100px;
    transition: all 0.2s;
    position: relative;
    width: 115px;
    height: 45px;
    text-align: center;
    margin: auto;
  }

  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .btn-white {
    background-color: #81d4fa;
    color: #fff;
  }

  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s;
  }

  .btn-white::after {
    background-color: #81d4fa;
  }

  .btn:hover::after {
    /* transform: scaleX(1.4) scaleY(1.6); */
    opacity: 0;
  }

  .btn:focus::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  .btn-animated {
    -webkit-animation: moveInBottom 5s ease-out;
    animation: moveInBottom 5s ease-out;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
  }

  @-webkit-keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .servicesDiv {
    display: flex;
    flex-direction: row;
    overflow-wrap: break-word;
    flex-wrap: wrap;
  }

  .mainPath {
    padding: 35px;
  }

  .subPath {
    background: #81d4fa;
    text-align: start;
    padding-left: 20px;
    line-height: 35px;
    color: #fff;
    border-radius: 7px;
  }

  .subPath a {
    color: #fff;
    text-decoration: none;
  }

}

@media only screen and (min-width: 768px) {

  /* For Tablet */
  body {
    font-family: sans-serif;
    background-color: #fff;
    font-weight: bold;
  }

  .contactDetails{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }

  .rightSection{
    width: 99%;
    margin-left: 10px;
    margin-top: 0;
  }

  .text-box {
    margin-left: 45px;
    align-items: flex-end;
    margin-top: 45px;
  }

  .titleImg {
    width: 320px;
  }

  .btn:link,
  .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    border-radius: 100px;
    transition: all 0.2s;
    position: relative;
    width: 190px;
    height: 45px;
    text-align: center;
    margin: auto;
  }

  .container{
    min-height: 300px;
  }

  /* .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  } */

  /* .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  } */

  .btn-white {
    background-color: #81d4fa;
    color: #fff;
    z-index: 0;
  }

  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s;
  }

  .btn-white::after {
    background-color: #81d4fa;
  }

  /* .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  } */

  .btn:focus::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  .contactDetails .leftSection{
    padding: 35px;
    width: 46%;
  }

  .btn-animated {
    -webkit-animation: moveInBottom 5s ease-out;
    animation: moveInBottom 5s ease-out;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
  }

  @-webkit-keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .servicesDiv {
    display: flex;
    flex-direction: row;
    overflow-wrap: break-word;
    flex-wrap: wrap;
  }


  footer img {
    width: 100px;
  }

  .mainPath {
    padding: 35px;
  }

  .subPath {
    background: #81d4fa;
    text-align: start;
    padding-left: 20px;
    line-height: 35px;
    color: #fff;
    border-radius: 7px;
  }

  .subPath a {
    color: #fff;
    text-decoration: none;
  }

}

@media only screen and (min-width: 1024px) {

  /* For Desktop: */
  body {
    font-family: sans-serif;
    background-color: #fff;
    font-weight: bold;
  }

  .contactDetails{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }

  .rightSection{
    width: 56%;
    margin-left: 30px;
  }

  .text-box {
    margin-left: 45px;
    align-items: flex-end;
    margin-top: 45px;
  }

  .titleImg {
    width: 320px;
  }

  .btn:link,
  .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    border-radius: 100px;
    transition: all 0.2s;
    position: relative;
    width: 190px;
    height: 45px;
    text-align: center;
    margin: auto;
  }

  .container{
    min-height: 300px;
  }

  /* .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  } */

  /* .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  } */

  .btn-white {
    background-color: #81d4fa;
    color: #fff;
    z-index: 0;
  }

  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s;
  }

  .btn-white::after {
    background-color: #81d4fa;
  }

  /* .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  } */

  .btn:focus::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  .contactDetails .leftSection{
    padding: 35px;
    width: 35%;
  }

  .btn-animated {
    -webkit-animation: moveInBottom 5s ease-out;
    animation: moveInBottom 5s ease-out;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
  }

  @-webkit-keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .servicesDiv {
    display: flex;
    flex-direction: row;
    overflow-wrap: break-word;
    flex-wrap: wrap;
  }


  footer img {
    width: 100px;
  }

  .mainPath {
    padding: 35px;
  }

  .subPath {
    background: #81d4fa;
    text-align: start;
    padding-left: 20px;
    line-height: 35px;
    color: #fff;
    border-radius: 7px;
  }

  .subPath a {
    color: #fff;
    text-decoration: none;
  }

}

@media only screen and (min-width: 1440px) {

  /* For Desktop Large */
  body {
    font-family: sans-serif;
    background-color: #fff;
    font-weight: bold;
  }

  .contactDetails{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }

  .rightSection{
    width: 65%;
    margin-left: 30px;
  }

  .text-box {
    margin-left: 45px;
    align-items: flex-end;
    margin-top: 45px;
  }

  .titleImg {
    width: 320px;
  }

  .btn:link,
  .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    border-radius: 100px;
    transition: all 0.2s;
    position: relative;
    width: 190px;
    height: 45px;
    text-align: center;
    margin: auto;
  }

  .container{
    min-height: 300px;
  }

  /* .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  } */

  /* .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  } */

  .btn-white {
    background-color: #81d4fa;
    color: #fff;
    z-index: 0;
  }

  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s;
  }

  .btn-white::after {
    background-color: #81d4fa;
  }

  /* .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  } */

  .btn:focus::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  .contactDetails .leftSection{
    padding: 35px;
    width: 30%;
  }

  .btn-animated {
    -webkit-animation: moveInBottom 5s ease-out;
    animation: moveInBottom 5s ease-out;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
  }

  @-webkit-keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .servicesDiv {
    display: flex;
    flex-direction: row;
    overflow-wrap: break-word;
    flex-wrap: wrap;
  }


  footer img {
    width: 100px;
  }

  .mainPath {
    padding: 35px;
  }

  .subPath {
    background: #81d4fa;
    text-align: start;
    padding-left: 20px;
    line-height: 35px;
    color: #fff;
    border-radius: 7px;
  }

  .subPath a {
    color: #fff;
    text-decoration: none;
  }

}