@media only screen and (max-width: 425px){

  /* For small mobile phones: */
  body {
    font-family: sans-serif;
    background-color: #fff;
    font-weight: bold;
  }

  .text-box {
    /* margin-left: 45px; */
    align-items: flex-end;
    margin-top: 45px;
  }

  .titleImg{
    width: 320px;
  }

  .btn:link,
  .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    border-radius: 100px;
    transition: all 0.2s;
    position: relative;
    width: 70%;
    height: 45px;
    text-align: center;
    margin: auto;
  }

  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .btn-white {
    background-color: #81d4fa;
    color: #fff;
  }

  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s;
  }

  .btn-white::after {
    background-color: #81d4fa;
  }

  .btn:hover::after {
    /* transform: scaleX(1.4) scaleY(1.6); */
    opacity: 0;
  }

  .btn:focus::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  .btn-animated {
    -webkit-animation: moveInBottom 5s ease-out;
    animation: moveInBottom 5s ease-out;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
  }

  @-webkit-keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .servicesDiv {
    display: flex;
    flex-direction: column;
  }

}

@media only screen and (min-width: 426px)/* and (max-width:768) */{

  /* For Tablets: */
  body {
    font-family: sans-serif;
    background-color: #fff;
    font-weight: bold;
  }

  .text-box {
    margin-left: 50px;
    margin-top: 45px;
  }

  .titleImg{
    width: 320px;
  }

  .btn:link,
  .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    border-radius: 100px;
    transition: all 0.2s;
    position: relative;
    width: 270px;
    height: 45px;
    text-align: center;
    margin: auto;
  }

  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .btn-white {
    background-color: #81d4fa;
    color: #fff;
  }

  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s;
  }

  .btn-white::after {
    background-color: #81d4fa;
  }

  .btn:hover::after {
    /* transform: scaleX(1.4) scaleY(1.6); */
    opacity: 0;
  }

  .btn:focus::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  .btn-animated {
    -webkit-animation: moveInBottom 5s ease-out;
    animation: moveInBottom 5s ease-out;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
  }

  @-webkit-keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .servicesDiv {
    display: flex;
    flex-direction: row;
    overflow-wrap: break-word;
    flex-wrap: wrap;
  }

}

@media only screen and (min-width: 530px)/* and (max-width:768) */{

  /* For lg-Tablets: */
  body {
    font-family: sans-serif;
    background-color: #fff;
    font-weight: bold;
  }

  .text-box {
    margin-left: 50px;
    margin-top: 45px;
  }

  .titleImg{
    width: 320px;
  }

  .btn:link,
  .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    border-radius: 100px;
    transition: all 0.2s;
    position: relative;
    width: 115px;
    height: 45px;
    text-align: center;
    margin: auto;
  }

  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .btn-white {
    background-color: #81d4fa;
    color: #fff;
  }

  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s;
  }

  .btn-white::after {
    background-color: #81d4fa;
  }

  .btn:hover::after {
    /* transform: scaleX(1.4) scaleY(1.6); */
    opacity: 0;
  }

  .btn:focus::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  .btn-animated {
    -webkit-animation: moveInBottom 5s ease-out;
    animation: moveInBottom 5s ease-out;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
  }

  @-webkit-keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .servicesDiv {
    display: flex;
    flex-direction: row;
    overflow-wrap: break-word;
    flex-wrap: wrap;
  }

}

@media only screen and (min-width: 770px){

  /* For Desktop: */
  body {
    font-family: sans-serif;
    background-color: #fff;
    font-weight: bold;
  }

  .text-box {
    margin-left: 45px;
    align-items: flex-end;
    margin-top: 45px;
  }

  .titleImg{
    width: 320px;
  }

  .btn:link,
  .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    border-radius: 100px;
    transition: all 0.2s;
    position: relative;
    width: 190px;
    height: 45px;
    text-align: center;
    margin: auto;
  }

  /* .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  } */

  /* .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  } */

  .btn-white {
    background-color: #81d4fa;
    color: #fff;
    z-index: 0;
  }

  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s;
  }

  .btn-white::after {
    background-color: #81d4fa;
  }

  /* .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  } */

  .btn:focus::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  .btn-animated {
    -webkit-animation: moveInBottom 5s ease-out;
    animation: moveInBottom 5s ease-out;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
  }

  @-webkit-keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .servicesDiv {
    display: flex;
    flex-direction: row;
    overflow-wrap: break-word;
    flex-wrap: wrap;
  }


footer img{
  width: 100px;
}

}