.service-row{
    display: flex;
    flex-direction: row;
}
.container{
    text-align: center;
    margin-top: 50px;
}
.navBar{
    /* background: #fff; */
    width: 100%;
    height: 50px;
    justify-content: space-around;
    vertical-align: middle;
    padding: 10px;
}
/* .subTitle{
    margin-top: 100px;
} */


body::-webkit-scrollbar{
    visibility: hidden;
}
.servicesDiv::-webkit-scrollbar{
    visibility: hidden;
}