.service-row {
    display: flex;
    flex-direction: row;
}

.container {
    text-align: center;
    margin-top: 50px;
}

.navBar {
    /* background: #fff; */
    width: 90%;
    height: 50px;
    justify-content: space-around;
    vertical-align: middle;
    padding: 10px;
}

/* .subTitle{
    margin-top: 100px;
} */


body::-webkit-scrollbar {
    visibility: hidden;
}

.servicesDiv::-webkit-scrollbar {
    visibility: hidden;
}

body::-webkit-scrollbar-track {
    visibility: hidden;
}

body::-webkit-scrollbar-track-piece {
    visibility: hidden;
}

.btnImg {
    width: 35px;
    margin-right: 3px;
}

.subPath a:hover {
    color: #59c8f9;
}

.subPath a {
    transition: 0.455s;
}

footer {
    background-color: #81d4fa;
    height: 100px;
    margin-top: 50px;
    padding: 20px;
    display: flex;
}

.footerDetails {
    text-align: center;
    width: 100%;
    text-align: center;
}

.footer-element {
    margin: 10px 0;
    color: #fff;
}

.footer-element a {
    color: #fff;
    text-decoration: none;
    transition: 0.455s;
}

.footer-element a:hover {
    color: #59c8f9;
}